.addARide{
  background: linear-gradient(to bottom right,#03A9F4 -75%,#ffffff 95%);
  border-radius: 12.5px;
  border-style: ridge;
}

.addARideContent{
}

.rideAddTitle{
  color: #666666;
  font-family: Abel; font-size: 36px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px;
}

.addRideButton{
  border-radius: 12.5px;
  border-style: outset;
}

.cancelRideButton{
  border-radius: 12.5px;
  border-style: outset;
}

.inputRideInfo{
  border-radius: 12.5px;
  border-style: ridge;
  padding-left: 5px;
  padding-right: 75px;
}
