<div layout-gt-sm="row">
  <div flex-gt-sm="80" flex-offset-gt-sm="10">
    <mat-card class="addARide">
      <mat-card-title class="rideAddTitle">Add a Ride</mat-card-title>
      <mat-card-content class="addARideContent">

        <!–– [(ngModel)]="data.ride.[fieldhere]" will be changed to the relevant model when the time comes. ––>
        <!–– formControl[field] = "field" as well.  ––>

        <mat-form-field>
          <input class="inputRideInfo" matInput #input id="driverField" placeholder="Driver" required
                 [(ngModel)]="rideDriver">
        </mat-form-field>

        <mat-form-field>
          <input class="inputRideInfo" matInput #input id="notesField" placeholder="Notes" [(ngModel)]="rideNotes">
        </mat-form-field>

        <mat-form-field>
          <input type="number" class="inputRideInfo" matInput #input id="seatsAvailableField" placeholder="Seats Available"
               required [(ngModel)]="rideSeats">
        </mat-form-field>

        <mat-form-field>
          <input class="inputRideInfo" matInput #input id="originField" placeholder="Origin"
               required [(ngModel)]="rideOrigin">
        </mat-form-field>

        <mat-form-field>
          <input class="inputRideInfo" matInput #input id="destinationField" placeholder="Destination"
               required [(ngModel)]="rideDestination">
        </mat-form-field>

        <mat-form-field>
        <!--<input class="inputRideInfo" matInput #input id="departureDateField" placeholder="Departure Date"-->
               <!--required [(ngModel)]="rideDepartureDate">-->
          <input class="inputRideInfo" id="departureDateField" matInput [matDatepicker]="picker"
                 placeholder="Choose Departure Date" [(ngModel)]="rideDepartureDate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
          <input class="inputRideInfo" matInput #input id="departureTimeField" placeholder="Departure Time"
               required [(ngModel)]="rideDepartureTime">
        </mat-form-field>

      </mat-card-content>

      <mat-card-actions layout="row">
        <!-- [mat-dialog-close]="data.user" causes the data.user object to be returned when the dialog is closed. -->
        <button class="addRideButton" mat-raised-button id="confirmAddRideButton"  type="button" color="primary"
                (click)="addRide()" routerLink="/rides">Add Ride
        </button>
        <!-- [mat-dialog-close]="null" causes null to be returned when the dialog is closed. -->
        <button class="cancelRideButton" mat-button id="exitWithoutAddingButton" routerLink="/rides"  type="button">Cancel</button>
      </mat-card-actions>



    </mat-card>
  </div>
</div>
