<div layout-gt-sm="row">
  <div flex-gt-sm="80" flex-offset-gt-sm="10">
    <mat-card class="addARide">
      <mat-card-title class="rideAddTitle">Add a Ride</mat-card-title>
      <mat-card-content class="addARideContent">

        <!–– [(ngModel)]="data.ride.[fieldhere]" will be changed to the relevant model when the time comes. ––>
        <!–– formControl[field] = "field" as well.  ––>

        <input class="inputRideInfo" matInput #input id="driverField" placeholder="Driver"
               required [(ngModel)]="rideDriver">
        <br />

        <input class="inputRideInfo" matInput #input id="notesField" placeholder="Notes"
               required [(ngModel)]="rideNotes">
        <br />
        <input class="inputRideInfo" matInput #input id="seatsAvailableField" placeholder="Seats Available"
               required [(ngModel)]="rideSeats">
        <br />

        <input class="inputRideInfo" matInput #input id="originField" placeholder="Origin"
               required [(ngModel)]="rideOrigin">
        <br />
        <input class="inputRideInfo" matInput #input id="destinationField" placeholder="Destination"
               required [(ngModel)]="rideDestination">
        <br />
        <input class="inputRideInfo" matInput #input id="departureDateField" placeholder="Departure Date"
               required [(ngModel)]="rideDepartureDate">
        <br />
        <input class="inputRideInfo" matInput #input id="departureTimeField" placeholder="Departure Time"
               required [(ngModel)]="rideDepartureTime">

      </mat-card-content>

      <mat-dialog-actions layout="row">
        <!-- [mat-dialog-close]="data.user" causes the data.user object to be returned when the dialog is closed. -->
        <button class="addRideButton" mat-raised-button id="confirmAddRideButton"  type="button" color="primary"
                (click)="addRide()">Add Ride
        </button>
        <!-- [mat-dialog-close]="null" causes null to be returned when the dialog is closed. -->
        <button class="cancelRideButton" mat-raised-button id="exitWithoutAddingButton" routerLink="/rides" color="warn" type="button">Cancel</button>
      </mat-dialog-actions>



    </mat-card>
  </div>
</div>
