.addARide{
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-radius: 12.5px;
  border: 2px solid black;
  /*z-index: -1;*/
}

.addARideContent{
}

.rideAddTitle{
  color: #000000;
  background: linear-gradient(to right bottom, #29b6f6,#73e8ff);
  border-radius: 10px 10px 2px 2px;
  border: hidden;
  /*z-index: 1;*/
}

.addRideButton{
  border-radius: 10px;
  border: 1px solid black;
}

.cancelRideButton{
  border-radius: 10px;
  border: 1px solid black;
}

table {
  border-collapse: collapse;
}

table, input {
  border: 1px solid black;
}

.inputRideInfo{
  border-radius: 2px;
  padding-left: 5px;
  padding-right: 75px;
}
