/* Aligns title with contents horizontally */
.mat-card-title, .mat-card-subtitle {
  padding-left: 8px;
}

/* Ride card */
.rides {  margin-bottom: 15px;  }

/* Ride card title */
.ride-title {
  background: #29b6f6 linear-gradient(to right bottom, #29b6f6,#73e8ff);
  color: #fff;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.seats-left {
  display: inline-block;
  padding: 4px 6px;
  margin-top: 8px;
  border-radius: 2px;
  background-color: #fff;
  color: #000;
  font-weight: bold;
}

/* Ride card contents */
.ride-info {
  color: #222;
  font-size: 0.8rem;
}

/* Displays the origin/destination in a compact, visual way */
.route {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: flex-start;
}

.route mat-icon {
  align-self: center;
  margin: 0 4px;
}

.origin, .destination {
  background: #ddd;
  border-radius: 2px;
  padding: 6px;
}

/* Driver and notes */
.driver {
  margin: 12px 0 8px 0;
  font-size: 0.85rem;
  font-weight: bold;
}

.notes {
  max-width: 500px;
  padding-top: 8px;
}

.notes small {
  font-weight: bold;
  color: #000;
}

/* Title */
#ride-list-title {  text-align: center;  }
