#title input {
  width: 16%;
  min-width: 100px;
}

#list-title {
  padding-right: 14px;
}

.mat-card-subtitle {
  padding-left: 8px !important;
}

.mat-card-title {
  padding-left: 8px !important;
}

.cardlist  {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}

.rides {
  flex-basis: 100%;
}

.add-ride-button {
  font-size: 4rem;
  float: inherit;
  float: right;


}

@media screen and (min-width: 960px) {
  .users {
    flex: 0 1 calc(50% - 32px); /*Suguru Inatomi @ https://blog.angularindepth.com/angular-flex-layout-flexbox-and-grid-layout-for-angular-component-6e7c24457b63*/
  }
}

