<div layout-gt-sm="row">
  <div flex-gt-sm="50" flex-offset-gt-sm="25">
    <mat-card>
      <mat-card-title id="ride-list-title">Upcoming Rides</mat-card-title>
      <mat-card-subtitle>
        <button mat-raised-button
                id="add-ride-button"
                routerLink="/addride"
                color="primary"
                type="button"
                role="button"
                style="width: 100%"
        >
          <mat-icon>add_circle_outline</mat-icon>
          Create a Ride
        </button>
      </mat-card-subtitle>

      <mat-divider ></mat-divider>

      <mat-card-content>

        <div class="cardlist" *ngIf="rides; else ridesError">
          <mat-card #elem class="rides" [id]="ride._id"
                    *ngFor="let ride of this.rides">
            <mat-card-header class="ride-title">
              <mat-card-title [id]="ride.origin">
                <div class="departure-time">{{ride.departureDate}} at {{ride.departureTime}}</div>
                <div class="seats-left">
                  <small>{{ride.seatsAvailable}} SEATS LEFT</small>
                </div>
              </mat-card-title>
            </mat-card-header>

            <mat-card-content>
              <div class="origin">
                <small>FROM</small>
                {{ride.origin}}
              </div>
              <div class="destination">
                <small>TO</small>
                {{ride.destination}}
              </div>
              <mat-divider></mat-divider>
              <p><strong>{{ride.driver}} is offering this ride</strong></p>
              <div class="notes">
                <small>NOTES</small>
                {{ride.notes}}
              </div>
            </mat-card-content>
          </mat-card>
        </div>

        <ng-template #ridesError>
          <mat-error>
            There was a problem loading the rides. Possibly the server is down or perhaps there are network
            issues.
          </mat-error>
        </ng-template>

      </mat-card-content>
    </mat-card>
  </div>
</div>
