<div>
  <button id="addNewUser" mat-raised-button (click)="openDialog()">Add New User</button>
</div>


<div layout-gt-sm="row">
  <div flex-gt-sm="80" flex-offset-gt-sm="10">
    <mat-card>
      <mat-card-title id="user-list-title">Rides</mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-content>

        <!--<mat-accordion *ngIf="users; else usersError">-->
          <!--<mat-expansion-panel #elem class="users" [id]="user.email" [expanded]="this.isHighlighted(user)"-->
                               <!--*ngFor="let user of this.filterUsers(userName, userAge)">-->
            <!--<mat-expansion-panel-header>-->
              <!--<mat-panel-title matTooltip="email: {{user.email}}">{{user.name}}</mat-panel-title>-->

            <!--</mat-expansion-panel-header>-->
            <!--<mat-panel-description>Works for {{user.company}}</mat-panel-description>-->
            <!--<mat-panel-description>Age: {{user.age}} years old</mat-panel-description>-->
            <!--<mat-panel-description>Age: {{user.age}} years old</mat-panel-description>-->
            <!--<mat-panel-description>Age: {{user.age}} years old</mat-panel-description>-->
          <!--</mat-expansion-panel>-->
        <!--</mat-accordion>-->

        <div class="cardlist" *ngIf="users; else usersError">
          <mat-card #elem class="users" [id]="user.name"
                    *ngFor="let user of this.filterUsers(searchName, searchAge)">
            <!--<mat-icon class="incomplete" *ngIf="user.status === false">cancel_presentation</mat-icon>-->
            <!--<mat-icon class="complete" *ngIf="user.status === true">check_circle</mat-icon>-->
            <mat-card-header id="card-header">
              <mat-card-title class="card-header" [id]="user.name">{{user.name}}</mat-card-title>
              <mat-card-subtitle>{{user.email}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>{{user.age}}</p>
              <p>{{user.company}}</p>
            </mat-card-content>
          </mat-card>
        </div>

        <!-- Maybe this should be a pop-up instead of just a text message? Not sure. -->
        <ng-template #usersError>
          <mat-error>
            There was a problem loading the users. Possibly the server is down or perhaps there are network
            issues.
          </mat-error>
          <mat-error>
            Please wait a bit and try again or start the server.
          </mat-error>
        </ng-template>
      </mat-card-content>
    </mat-card>
  </div>
</div>
